.loans-wrapper {
    max-width: 100%;
    margin: 20px;
}

.loan-card {
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

a {
    border-radius: 10px;
}